/* =============================
22/09/02 노현
개인 주소록 기본 css 1차작성
============================= */

*
{
    /* border: 1px solid royalblue; */
    font-family: 'BBTreeGR';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
}
body {
    margin: 0;
    box-sizing: border-box;
}
.address_personal_total_container{
    display: flex;   
    width: 100%;
    height: 890px;
 
}
/* 개인주소록 왼쪽 항목 */
.address_personal_category_container{
 
    width: 400px;
    height: 890px;
}
.address_personal_category_list>div{
    padding: 30px 40px;
}
.address_personal_category_list>form{
    padding: 30px 40px;
}


.address_personal_input_box>i{
    padding-left: 5px;
}
.address_personal_input_box{
    display: none;
}




/* 개인주소록 세션 */
.address_personal_section{
   
   width: 100%; 
}

/* 개인주소록 타이틀 */
.address_personal_title_box {
    height: 80px;
    padding: 15px;
    border-bottom: 1px solid gray;
    display: flex;

}

.address_personal_title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.address_personal_next {
    padding: 10px;
    color: gray;
    padding-top: 23px;
}

/* EXCEL 내보내기 */
.address_personal_excel_sendout {
    margin: 40px;
}

/* 주소록 추가 */
.address_personal_input_container{
    margin-left: 20px;
}
.address_personal_input_add>input{
    margin: 2px;
}
.address_personal_input_add>span>i{
    font-size: 21px;
}

/* 자음별 검색 */
.address_personal_search_consonant {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}

/* 필드설정 */
.address_personal_field_set {
    display: flex;
    justify-content: space-between;
}

/* 테이블 */
.address_personal_table_title {
    background-color: rgb(13,110,253);
    color: white;
 
}

.address_personal_table > tbody > tr > td {
    width: 200px;
    padding: 10px 0;
}


.address_personal_table > tbody > tr > td:first-child {
    padding-left: 15px;
}
.address_personal_list > tbody > tr > td:first-child{
	padding-left:15px;
}
.address_personal_list > tbody > tr > td{
	padding: 10px 0;
	width:200px;
}
/* a링크 색 밑줄 제거 */
.address_personal_search_consonant > a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: black;

}
.address_personal_excel_sendout > a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: black;

}
.address_personal_page_num > a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: black;

}
.address_personal_table > tbody > tr > td > a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: black;

}
.address_personal_category_list > div > a:link , a:visited , a:hover , a:active{
    text-decoration: none;
    color: black;

}
/* 하단 페이지 넘버 */
.address_personal_page_num_box{
    margin-top: 40px;
    position: relative;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}
.address_personal_page_num{
    padding:  3px;
    margin:3px; 
    text-align: center;
}
.address_personal_page_num a{
    padding: 5px 8px 4px 8px;
    margin: 2px; 
    border: #ccc 1px solid;
    color: #999;
    text-decoration: none;
}
.address_personal_page_num a:hover{
    border:#999 1px solid;
    color: #666;
}
.address_personal_page_num a:active{
    border: #999 1px solid;
    color: #666;
}
.address_personal_page_num .address_personal_current{
    border: #117bff 1px solid;
    padding:5px 8px 4px 8px;
    font-weight: bold;
    margin: 2px;
    color: #036cb4;
}
.address_personal_page_num .address_personal_disabled{
    padding:5px 8px 4px 8px;
    margin: 2px;    
}
