@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content_box {
    height: 80px;
    width: 100%;
    font-size: 2rem;
    font-family: 'BBTreeGR';
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}


/* 테이블 */
.EDMS_wait_docu_list {
    font-family: 'BBTreeGR';
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;
}

.EDMS_wait_docu_table_list {
    margin: 10px;
}
#EDMS_wait_docu_font{
    font-weight: normal;
    font-family: 'BBTreeGR';
}

.EDMS_wait_docu_table {
    width: 100%;
    height: 100%;
    border-top: 1px solid dimgray;
    text-align: center;
    min-width: 750px;
}

.EDMS_wait_table_bg {
    background-color: gray;
    color: white;
}

.EDMS_wait_docu_table tr td {
    padding: 10px 0;
}

.EDMS_wait_table_hover {
    border-bottom: 1px solid gray;
}

.EDMS_wait_table_hover:hover {
    background-color: azure;
    cursor: pointer;
}
.xi-error{
    color: crimson;
}



/* 페이지 넘버 */
.EDMS_wait_list_number {
    padding-top: 25px;
    text-align: center;
    min-width: 750px;
}

.EDMS_wait_list_n_menu {
    padding: 3px;
    margin: 3px;
    text-align: center;
}

.EDMS_wait_list_n_menu a {
    padding: 5px 8px 4px 8px;
    margin: 2px;
    border: #ccc 1px solid;
    color: #999;
    text-decoration: none;
}

.EDMS_wait_list_n_menu a:hover {
    border: #999 1px solid;
    color: #666;
}

.EDMS_wait_list_n_menu a:active {
    border: #999 1px solid;
    color: #666;
}

.EDMS_wait_list_n_menu .EDMS_wait_current {
    border: #117bff 1px solid;
    padding: 5px 8px 4px 8px;
    font-weight: bold;
    margin: 2px;
    color: #036cb4;
}

.EDMS_wait_list_n_menu .EDMS_wait_disabled {
    padding: 5px 8px 4px 8px;
    margin: 2px;
}