/*이은지
221004 detail 페이지 디자인
*/

@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 게시판 상위 디자인 */
.content_box {
    height: 80px;
    width: 100%;
    font-size: 2rem;
    font-family: 'BBTreeGR';
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 900px;
}

/* 아이콘 마진 */
.fa-chalkboard-user {
    margin-right: 5px;
}

/* 테이블, 에디터, 버튼 감싸는 class */
#board_write_container {
    font-family: 'BBTreeGR';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%;
}


/* 테이블 감싸는 class */
.board_write_insert_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/* 게시글 작성 테이블 */
.board_write_table {
    margin-top: 5px;
    width: 100%;
}
.board_write_table tr td {
    border: 1px solid gray;
    height: 40px;
}

/* select */
#board_select{
    height: 25px;
}
.board_td1{
    background-color: rgb(13, 110, 253);
    padding-left: 10px;
    color: white;
    font-family: 'BBTreeGR';
    font-size: 1rem;
    width: 20%;
    
}
.board_td2{
    padding-left: 5px;
    font-size: 1rem;
}

/* 제목 옆의 중요 표시 */
.board_td1 span{
    float: right;
    padding-right: 5px;
  }
#important{
    accent-color: red;
}
/* input 길이 */
.board_title{
	width: 95%;
	height: 30px;
}

/* board_detail의 css 에디터 감싸는 class */
.board_write_editor {
    margin-top: 15px;
    width: 100%;
    padding: 10px 10px 130px;
    font-size: 1.1rem;
}

/* board_view의 css 에디터 감싸는 class */
.board_editor_box{
	margin-top: 15px;
    width: 100%;
    height: 600px;
    font-size: 1.1rem;
}

/* 게시글 수정 취소 목록 버튼 */
.board_bottom_btn {
   width: 100%;
   display: flex;  
}

.board_btn {
    border-radius: 15px;
    padding: 3px;
    font-weight: bold;
    font-family: 'BBTreeGR';
    font-size: 1rem;
    transition: all 0.3s;
    background-color: white;
    border: 2px solid black;
    width: 100px;
    height: 30px;
    margin: 10px 5px;
    cursor: pointer;
}

.board_submit_btn:hover {
    background-color: rgb(13, 110, 253);
    color: white;
    border: 2px solid rgb(13, 110, 253);
}

.board_cancel_btn:hover, .board_list_btn:hover, .delete_btn:hover{
    background-color: gray;
    color: white;
    border: 2px solid gray;
}

.board_form_commentinfo{
	margin: 30px 0;
}