/*
220928 이은지

*/

@font-face {
    font-family: 'BBTreeGR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 게시판 상위 디자인 */
.content_box {
    height: 80px;
    width: 100%;
    font-size: 2rem;
    font-family: 'BBTreeGR';
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 900px;
}

/* 아이콘 마진 */
.fa-pen-to-square {
    margin-right: 5px;
}

/* 테이블, 에디터, 버튼 감싸는 class */
#board_write_container {
    font-family: 'BBTreeGR';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5% 0 5%;
}

#board_write_container>form {
    width: 100%;
}

/* 테이블 감싸는 class */
.board_write_insert_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 게시글 작성 테이블 */
.board_write_table {
    margin-top: 25px;
    width: 100%;
}
.board_write_table tr td {
    border: 1px solid gray;
    height: 40px;
}
#board_select{
    height: 25px;
}
.board_td1 span{
    float: right;
    padding-right: 5px;
  }
.board_td1{
    background-color: rgb(13, 110, 253);
    padding-left: 10px;
    color: white;
    font-family: 'BBTreeGR';
    font-size: 1rem;
    width: 20%;
}
.board_td2{
    padding-left: 5px;
}
#board_title{
    width: 98%;
    height: 25px;
}
#important{
    accent-color: red;
}



/* 에디터 감싸는 class */
.board_write_editor {
    margin-top: 15px;
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 게시글 저장 취소 버튼 */
.board_bottom_btn {
    text-align: center;
    margin: 30px;
}

.board_btn {
    border-radius: 15px;
    padding: 3px 10px;
    font-weight: bold;
    font-family: 'BBTreeGR';
    font-size: 1rem;
    transition: all 0.3s;
    background-color: white;
    width: 100px;
    height: 30px;
    margin: 15px 20px;
    cursor: pointer;
}

.board_submit_btn:hover {
    background-color: rgb(13, 110, 253);
    color: white;
    border: 2px solid rgb(13, 110, 253);
}

.board_cancel_btn:hover {
    background-color: gray;
    color: white;
    border: 2px solid gray;
}