/* div {
    border: 1px solid red;
} */


.content_box{
    height: 80px;
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.admin_worktime_container {
    width: 100%;
    height: 750px;
    display: flex;
}


.admin_worktime_sidebar {
    width: 10%;
    height: 810px;
    background-color: rgba(128, 128, 128, 0.171);
}

.admin_worktime_sidebar div {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid gray;
}

.admin_worktime_sidebar a {
    text-decoration: none;
    color: black;
}



.admin_worktime {
    width: 90%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.admin_worktime .search {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
}


.admin_worktime .office_map_btn {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.125);
}
.admin_worktime .office_map_btn a{
    text-decoration: none;
    color: black;
}



.admin_worktime .search span {
    margin: 0 5px 0 5px;
    font-size: .8rem;
}

.admin_worktime .search select,.search input {
    width: 100px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: .5rem;
    cursor: default;
}

.admin_worktime .search input:focus {
    background-color: rgba(0, 0, 0, 0.061);
}

.admin_worktime .search i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.18);
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}


.admin_worktime .worktime_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.admin_worktime .worktime_list table {
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.admin_worktime .worktime_list table tr,td{
    border: 1px solid rgba(128, 128, 128, 0.456);
    text-align: center;
}

.admin_worktime .worktime_list table thead td{
    border: 1px solid rgba(128, 128, 128, 0.456);
    height: 30px;
    background-color: rgba(128, 128, 128, 0.18);
}

.admin_worktime .worktime_list table td:nth-child(1) {
    width: 3%;
}

.admin_worktime .worktime_list table td:nth-child(2) {
    width: 7%;
}

.admin_worktime .worktime_list table td:nth-child(3),td:nth-child(4),td:nth-child(5),
td:nth-child(6),td:nth-child(7) {
    width: 10%;
}

.admin_worktime .worktime_list table td:nth-child(8),td:nth-child(9) {
    width: 20%;
}


.admin_worktime .details_btn {
    width: 75%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.admin_worktime .details_btn button{
    width: 50px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.149);
}

.admin_worktime .details_btn .btn_delete{
    color: red;
}