/* div {
    border: 1px solid red;
} */

/* <인사기록카드> 타이틀 부분 시작 */
.content_box{
    height: 80px;
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
}
/* <인사기록카드> 타이틀 부분 끝 */

/* 본문 컨테이너 세팅 */
.admin_personnel_container {
    width: 100%;
    height: 750px;
    display: flex;
}
/* 조회/등록 사이드바 부분 시작 */
.admin_personnel_sidebar {
    width: 10%;
    height: 805px;
    background-color: rgba(128, 128, 128, 0.171);
}

.admin_personnel_sidebar div {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid gray;
}

.admin_personnel_sidebar a {
    text-decoration: none;
    color: black;
}
/* 조회/등록 사이드바 부분 끝 */

/* 본문 부분 시작 */
.admin_personnel_body {
    width: 80%;
    height: 750px;
}

/* 본문 내 좌측 우측 분할컨테이너 세팅 */
.admin_personnel_body .details {
    width: 100%;
    height: 800px;
    display: flex;
    border-left: 1px solid rgba(128, 128, 128, 0.236);
    padding-left: 10px;
}

/* 본문 내 좌측 부분 시작 */
.admin_personnel_body .details .details_left {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*padding-top: 10px;*/
    width: 50%;
    height: 650px;
    position: relative;
}

/* 상세내용-주소 시작 */
.admin_personnel_body .details .details_address {
    width: 70%;
    height: 150px;
    display: flex;
    margin: 10px;
    text-align: left;
    align-items: center;
}
.admin_personnel_body .details .details_address .address_body{
    display: flex;
    flex-direction: column;
}

.admin_personnel_body .details .details_address .address_body .zip_btn,
.admin_personnel_body .details .details_right .details_initPW button {
    width: 60px;
    height: 30px;
    margin: 0;
    font-size: 13px;
}
.admin_personnel_body .details .details_address .address_body input{
    /* width: 300px; */
    height: 30px;
}
/* 상세내용-주소 끝 */
/* 본문 내 좌측 부분 끝 */

/* 본문 내 우측 부분 시작 */
.admin_personnel_body .details .details_right {
    width: 50%;
    height: 650px;
    position: relative;
}

.admin_personnel_body .details .box:not(.details_address) {
    width: 70%;
    height: 30px;
    display: flex;
    margin: 10px;
    text-align: left;
    align-items: center;
}

.admin_personnel_body .details .box div {
    width: 80px;
    margin-right: 2px;
    font-size: .8rem;
}

.admin_personnel_body .details .box input {
    width: 250px;
    height: 25px;
    font-size: .8rem;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 1rem;
    cursor: default;
}
/* 본문 내 우측 부분 끝 */


/* 등록/취소 버튼 부분 시작 */
.admin_personnel_body .details_btn {
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 55px;
}

.admin_personnel_body .details button{
    width: 50px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.149);
}

.admin_personnel_body .details .btn_cancel{
    color: red;
}
/* 등록/취소 버튼 부분 끝 */
/* 본문 부분 끝 */
