/* div {
    border: 1px solid red;
} */


.content_box{
    height: 80px;
    width: 100%;
    font-size: 2rem;
    padding: 15px;
    border-bottom: 1px solid gray;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.admin_personnel_container {
    width: 100%;
    height: 750px;
    display: flex;
}

.admin_personnel_sidebar {
    width: 10%;
    height: 750px;
    background-color: rgba(128, 128, 128, 0.171);
}

.admin_personnel_sidebar div {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid gray;
}

.admin_personnel_sidebar a {
    text-decoration: none;
    color: black;
}


.admin_personnel_body {
    width: 90%;
    height: 750px;
}

/* 검색 시작*/
.admin_personnel_body .search {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.admin_personnel_body .search span {
    margin: 0 5px 0 5px;
    font-size: .8rem;
}

.admin_personnel_body .search select,input {
    width: 100px;
    margin-right: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: .5rem;
    cursor: default;
}

.admin_personnel_body .search input:focus {
    background-color: rgba(0, 0, 0, 0.061);
}

.admin_personnel_body .search i{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.18);
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}

.admin_personnel_body .office_map_btn {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.125);
}
.admin_personnel_body .office_map_btn a{
    text-decoration: none;
    color: black;
}
/* 검색 끝 */


/* 검색결과 목록/상세내용 구분 탭 시작 */
.admin_personnel_body .tap {
    width: 100%;
    height: 50px;
    display: flex;
    line-height: 50px;
    margin-left: 10px;
}

.admin_personnel_body .tap .tap_result {
    width: 40%;
}
.admin_personnel_body .tap .tap_details {
    width: 60%;
}
/* 검색결과 목록/상세내용 구분 탭 끝 */

/* 검색결과 목록 시작 */
.admin_personnel_body .result {
    display: flex;
}

.admin_personnel_body .result .list {
    width: 40%;
    height: 650px;
    padding: 5px;
}

.admin_personnel_body .result .details {
    width: 60%;
    height: 650px;
}

.admin_personnel_body .result .list table {
    width: 100%;
}

.admin_personnel_body .result .list table tr td:nth-child(1) {
    width: 8%;
}

.admin_personnel_body .result .list table tr td:nth-child(2) {
    width: 8%;
}

.admin_personnel_body .result .list table tr td:nth-child(3) {
    width: 15%;
}

.admin_personnel_body .result .list table tr td:nth-child(4) {
    width: 15%;
}

.admin_personnel_body .result .list table tr td:nth-child(5) {
    width: 18%;
}

.admin_personnel_body .result .list table tr td:nth-child(6) {
    width: 18%;
}

.admin_personnel_body .result .list table tr td:nth-child(7) {
    width: 18%;
}

.admin_personnel_body .result .list table:not(.result_table) tr{
    background-color: rgba(128, 128, 128, 0.111);
    height: 20px;
}

.admin_personnel_body .result .list table td {
    font-size: 10px;
    text-align: center;
}

/* 검색결과목록 중 첫 행 별도 스타일 지정(thead랑 스타일이 같아지는 문제) */
.admin_personnel_body .result .list .result_table tr {
    background: none;
    height: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.081);
    cursor: pointer;
}


/* 검색결과목록 끝 */

/* 상세내용 시작 */
/* 좌측 이미지 부분 */
.admin_personnel_body .details {
    width: 100%;
    height: 800px;
    display: flex;
    border-left: 1px solid rgba(128, 128, 128, 0.236);
    padding-left: 10px;
}

.admin_personnel_body .details .details_left {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*padding-top: 10px;*/
    width: 50%;
    height: 700px;
    position: relative;
}


/* 우측 상세정보 부분 */
.admin_personnel_body .details .details_right {
    width: 50%;
    height: 700px;
    position: relative;
}

.admin_personnel_body .details .box {
    width: 100%;
    height: 30px;
    display: flex;
    margin: 10px;
    text-align: left;
    align-items: center;
}

.admin_personnel_body .details .box div {
    width: 80px;
    margin-right: 2px;
    font-size: .8rem;
}

.admin_personnel_body .details .box input {
    width: 250px;
    height: 25px;
    font-size: .8rem;

}

/* 상세내용-주소 시작 */
.admin_personnel_body .details .details_address {
    width: 100%;
    height: 150px;
}
.admin_personnel_body .details .details_address .address_body{
    display: flex;
    flex-direction: column;
}

.admin_personnel_body .details .details_address .address_body .zip_btn,
.admin_personnel_body .details .details_right .details_initPW button {
    width: 60px;
    height: 30px;
    margin: 0;
    font-size: 13px;
}
.admin_personnel_body .details .details_address .address_body input{
    /* width: 300px; */
    height: 30px;
}

/* 상세내용-주소 끝 */
/* 상세내용 끝 */

/* 하단 수정 삭제 버튼 시작*/
.admin_personnel_body .details_btn {
    width: 45%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.admin_personnel_body .details button{
    width: 50px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.149);
}

.admin_personnel_body .details .btn_delete{
    color: red;
}
/* 하단 수정 삭제 버튼 끝*/

